.container{
  box-shadow: 0px 5px 5px -1px rgba(34, 60, 80, 0.2);
  background-color: white;
  width: 780px;
}
.content{
  padding: 15px 20px;
  max-width: 740px
}
.title{
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  span{
    color: #548eaa;
    margin-left: 10px;
  }
}