.container{
  box-shadow: 0px 0px 0px -100px rgba(0,0,0,0.1);
  background-color: white;
  width: 300px;
  min-height: 440px;
}
.content{
  padding: 15px 20px;
}
.containerRegister{
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  color: #333;
  line-height: 16px;
}
.register{
  margin-top: 10px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}