.user{
  display: flex;
  align-items: center;
  gap: 0 15px;
  margin-bottom: 10px;
}
.avatar{
  border-radius: 50%;
  width:  26px;
  height: 26px;
}
.name{
  font-weight: 600;
  font-size: 16px;
}

.inputs{
  margin-top: 20px;
}
.titleInput{
  outline: none;
  border: none;

  color: #343434;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1px;
}

.editor{
  margin-top: 30px;
  margin-bottom: 20px;
}
.error{
  margin-top: 15px;
  padding: 5px 10px;
  color: #ff0028;
  font-weight: 500;
  font-size: 14px;
  width: 300px;
  border-radius: 5px;
}
.editTitle{
  font-size: 26px;
  text-align: center;
  font-weight: 500;
}