//#737373 img 740 na 417

.post{
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 5px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 5px -1px rgba(34, 60, 80, 0.2);
  background-color: white;
  width: 780px;
}
.container{
  padding: 15px 20px;
  max-width: 740px;

  position: relative;
}
.user{
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 10px;
  a{
    text-decoration: none;
    color: #333333;
    letter-spacing: .5px;
    font-weight: 700;
  }
}
.avatar{
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
.name{
  font-weight: 600;
  font-size: 13px;
}
.timeAgo{
  font-size: 13px;
  color: #909090;
}

.title{
  font-weight: 500;
  font-size: 20px;
  color: #333333;
  text-decoration: none;
}


.info{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 0 15px;
  margin-bottom: 10px;
}
.readingTime, .viewCount{
  display: flex;
  align-items: center;
  gap: 0 8px;
  img{
    width: 20px;
  }
  div{
    color: #929ca5;
    font-size: 16px;
    font-weight: 500;
  }
}

.keywords{
  display: flex;
  gap: 0 15px;
  margin-bottom: 15px;
  a{
    cursor: pointer;
    color: #6f7577;
    font-size: 14px;
    text-decoration: none;
  }
}

.img{
  width: 740px;
  max-height: 350px;
  margin-bottom: 30px;
}

.text{
  margin-top: 15px;
  font-size: 16px;
  color: #333;
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.button{
  color: #548eaa;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  padding: 10px 13px;
  border: 1px solid #007aff;
  border-radius: 3px;
}

.items{
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.item{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.interaction{
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.level{
  color: #929ca5;
  font-size: 16px;
  font-weight: 600;
}
.levelEasy{
  color: #00a85e;
}
.levelMiddle{
  color: #49addf;
}
.levelHard{
  color: #ff0028;
}



.containerPostDetails{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  margin: 30px auto 30px auto;
  align-items: flex-start;
}

.detailsPostDetails{
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 5px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 5px -1px rgba(34, 60, 80, 0.2);
  background-color: white;
  width: 780px;
}
.contentPostDetails{
  overflow: hidden;
  padding: 15px 20px;
  max-width: 740px;
}

.tagsDetails{
  margin-top: 20px;
  margin-bottom: 25px;
}

.keywordsDetails{
  margin-bottom: 30px;
}
.tagsDetails, .keywordsDetails{
  color: #333;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0 10px;
  flex-wrap: wrap;
  a{
    font-size: 16px;
    color: #548eaa;
    text-decoration: none;
    font-weight: 400;
  }
}

.deleteIcon{
  cursor: pointer;
}

.containerDelete{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editRedactor{
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 25px;
  font-weight: 500;
}