//.container{
//  max-width: 1100px;
//  display: flex;
//  justify-content: space-between;
//  gap: 0 20px;
//  margin: 30px auto 30px auto;
//}

.container{
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  gap: 15px;
  align-items: flex-start;
}