.containerInput{
  display: flex;
  justify-content: space-between;

}

.label{
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  line-height: 16px;
  margin-bottom: 10px;
}

.button{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
  border: 1px solid silver;
  color: #909090;

}
.input{
  border: 2px solid #d5dddf;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
}

.about{
  margin-top: 30px;
}