/*font-family: 'Fira Sans', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
}
input{
    outline: none;
}

/*//редактор*/
.ql-toolbar.ql-snow .ql-formats {
    margin-bottom: 7px;
}